/* Esto es para crear una fuente */
@font-face {
    
    /* Aqui indico el nombre que quiero darle a la fuente */
    font-family: FuenteCustom;

    /* y aqui indico el archivo o la direccion donde esta la fuente */
    src: url(fonts/Fredoka_One/FredokaOne-Regular.ttf);
}

h1 {
    /*  
        Permite asignarle un tipo de fuente al elemento
        se ven tres tipos de letra en linea porque
        en caso de que falle Arial se veria Helvetica
        y en caso de que tambien fallara Helvetica se veria sans-serif
    */
    
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Reenie Beanie', cursive;
    font-style: italic;
    text-transform: uppercase;
    font-size: 45px;

    

    /* 
    Colores 

    Colores del sistema
    color: orangered;

    Colores hexadecimales
    color: #000000;

    Este me permite darle un "color transparente"
    color: transparent;

    Colores RGB
    color: rgb(255, 255, 107);

    Colores RGBA (incluye transparencia)
    color: rgba(255, 255, 107, 0.5);
    */

}

h3 {
    /* aqui use la funete custom que cree arriba */
    font-family: FuenteCustom, "Comic Sans MS";
    font-size: 35px;
    font-weight: lighter;

    /*
        font-size: 1em; -> 1em es = a 16px
    */
}

p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}